*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --violet: #4d5b9e;
  --bright-violet: #d6dbf5;
  --bright-yellow: #fffad1cd;
  --bright-red: #f8bcbc;
  --pale-violet: #293264;
  --default-radius: 10px;
  --extra-radius: 15px;
  --bright-gray: #f5f7fb;
  --bright-green: #94d7a2b8;
}
body {
  font-family: "Karla";
  background-color: var(--bright-gray);
}
.start {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start__title {
  font-size: 4rem;
  color: var(--pale-violet);
  font-weight: 700;
}
.start__description {
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--pale-violet);
  margin-top: 1rem;
}
.start__btn {
  outline: none;
  border: none;
  background: none;
  padding: 0.5rem 2rem;
  background-color: var(--violet);
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  margin-top: 1rem;
  cursor: pointer;
}
.start__btn:active,
.additional__btn:active {
  box-shadow: 0 0 10px 2px var(--pale-violet);
}
.questions {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  min-height: 100vh;
}
.question__answers {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.question__title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--pale-violet);
}
.answers__btn {
  outline: none;
  background: none;
  border: 2px solid var(--violet);
  font-family: "Inter";
  padding: 0.5rem 2rem;
  border-radius: var(--extra-radius);
  font-weight: bold;
  color: var(--pale-violet);
  cursor: pointer;
  transition: 0.2s ease background;
  font-size: 1rem;
}
.answers__btn:hover {
  background-color: var(--bright-violet);
}
.question {
  border-bottom: 1px solid var(--bright-violet);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.selected {
  background-color: var(--bright-violet);
  border: 2px solid transparent;
}
.additional__btn {
  outline: none;
  border: none;
  background: none;
  padding: 0.5rem 2rem;
  background-color: var(--violet);
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
}
.additional {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.additional__result {
  font-size: 1.5rem;
  color: var(--pale-violet);
  font-weight: bold;
}
.answer-false {
  background-color: var(--bright-red);
}
.answer-right {
  background-color: var(--bright-green);
}
.hightlight-currect {
  background-color: var(--bright-yellow);
}
.loading {
  background-color: var(--violet);
  height: 100vh;
  position: relative;
  z-index: 10;
}
.loading__circle {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  border: 15px solid var(--bright-gray);
  border-top: 15px solid var(--pale-violet);
  animation-name: loading;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes loading {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
.fade {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear opacity, 2s linear visibility;
}
.container {
  position: relative;
}
.top-circle {
  top: 0;
  right: 0;
  width: 400px;
  height: 400px;
  position: absolute;
  background-color: transparent;
  overflow: hidden;
  z-index: -1;
}
.bottom-circle {
  bottom: 0;
  left: 0;
  width: 400px;
  height: 400px;
  position: absolute;
  background-color: transparent;
  overflow: hidden;
  z-index: -1;
}
.top-circle__circle {
  width: 100%;
  height: 100%;
  background-color: var(--bright-yellow);
  border-radius: 50%;
  translate: 50% -50%;
}
.bottom-circle__circle {
  width: 100%;
  height: 100%;
  background-color: var(--bright-violet);
  border-radius: 50%;
  translate: -50% 50%;
}
@media  screen and (max-width:700px) {
  html{
    font-size: 10px;
  }
  .top-circle,.bottom-circle{
      display: none;
  }
}